{% extends 'users/base.html' %}
{% block javascript %}
<script>
    // issue, current user, voterlist of corresponding issue
function upVote(issueId){
    $.ajax({
        type: 'GET',
        url: "/upvote/",
        data: {
            'issueId': issueId,
        },
        dataType: 'json',
        success: function (data){
            if(data.upvoted){
                alert(data.message);
            }
        }
    });
    return false;
}
</script>
{% endblock javascript %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for i in messages %}
            <h5 class="alert alert-success">
                {{ i }}
            </h5>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col">
            <h3>Forum for {{ society_name }}</h3>
        </div>
        <div class="col" style="text-align: right;">
            <a href="{% url 'newtopic' %}" class="btn btn-primary">+ Create New Topic</a>
        </div>
    </div>
    
    {% for i in issues %}
        <div class="card border-dark">
            <div class="card-header border-dark">
                {% if user.username in i.voters %}
                    <h4>
                        <i class="fa fa-arrow-up" style="opacity: 0.5; color: orange;" aria-hidden="true">
                        </i> 
                        {{ i.title }} 
                    </h4>
                {% else %}
                    <h4>
                        <a href onclick="upVote({{ i.pk }})">
                            <i class="fa fa-arrow-up" style="opacity: 0.5;" aria-hidden="true"></i>
                        </a>
                        {{ i.title }} 
                    </h4>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">{{i.description}}</div>
                        <div class="col" style="text-align: right;">
                            Creator: {{ i.creator }} | Votes: {{ i.votes }}
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <br/>
    {% endfor %}
</div>
{% endblock content %}