{% extends 'users/base.html' %}
{% block content %}
<div class="container">
    <h3>Forum for {{ society_name }}</h3>
    {% for i in issues %}
        <div class="card border-dark">
            <div class="card-header border-dark">
                {% if user.username in voters %}
                    <h4>
                        <i class="fa fa-arrow-up" style="opacity: 0.5; color: orange;" aria-hidden="true">
                        </i> 
                        {{ i.title }} 
                    </h4>
                {% else %}
                    <h4>
                        <i class="fa fa-arrow-up" style="opacity: 0.5;" aria-hidden="true"></i> {{ i.title }} 
                    </h4>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">{{i.description}}</div>
                        <div class="col" style="text-align: right;">
                            Creator: {{ i.creator }} | Votes: {{ i.votes }}
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <br/>
    {% endfor %}
</div>
{% endblock content %}