{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                
                <iframe style="width: 100%; height: 100%; margin-bottom: 2%;" 
                src="https://www.youtube.com/embed/ICOmPm5xtzk">
                </iframe>
            </div>
            <div class="col-md">
                <h1>SMART WAY TO MANAGE YOUR SOCIETY</h1>
                <ul>
                    <li>
                        <h5>Fast Bill Generator</h5>
                    </li>
                    <li>
                        <h5>Forum for owners to discuss issues</h5>
                    </li>
                    <li>
                        <h5>Vote issues on forum and bring it up on society meeting</h5>
                    </li>
                    <li>
                        <h5>Send maintenance bill to owners online</h5>
                    </li>
                    <li>
                        <h5>Online payment</h5>
                    </li>
                    <li>
                        <h5>Visitor Management</h5>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <br/>
    <div class="container-fluid" 
        style = 
            "background: rgb(59,125,0);
            background: linear-gradient(346deg, 
            rgba(59,125,0,1) 0%, 
            rgba(98,176,52,1) 53%, 
            rgba(157,210,60,1) 100%);"
    >
        <br/><br/>
        <div class="container" style="color: white; text-align: center;">
            <h1>Try Our Free Services</h1>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="card border-white bg-transparent text-white">
                        <div class="card-body">
                            <h1 style="font-size: 600%;"><i class="fa fa-file-text-o" aria-hidden="true"></i></h1>
                            <h2>Fast Bill Generating</h2>
                            <p>You can now generate maintenance bills. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae asperiores laudantium, ducimus quam laboriosam ipsa iure inventore dignissimos tempore harum corrupti corporis aspernatur fugit. Necessitatibus modi aspernatur natus ea. Enim!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-white bg-transparent text-white">
                        <div class="card-body">
                            <h1 style="font-size: 600%;">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </h1>
                            <h2>Notify Flat Owners</h2>
                            <p>
                                Notify flat owners about deadlines of bills. 
                                Use email alerts to send them bills.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, ducimus? Ad impedit, molestias esse voluptatum provident officia? Dolore, consectetur doloremque incidunt, fuga alias eaque, autem repudiandae ab harum ea tempora!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-white bg-transparent text-white">
                        <div class="card-body">
                            <h1 style="font-size: 600%;">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </h1>
                            <h2>Forum</h2>
                            <p>
                                Having an issue? Raise it on forum. Other flat owners can vote your issue.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae officiis impedit quia ex! Voluptas labore minima nobis autem itaque error, expedita placeat sequi cupiditate fugit quas recusandae iusto quos?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
    <br/>
{% endblock content %}