{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Confirm New Password
                    </div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        
                        <div class="form-group">
                            <input class="btn btn-outline-info btn-lg btn-block" type="submit" value="Change Password" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}