{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Reset Password
                    </div>
                    <div class="card-body">
                        <span class="text-muted">Enter the email address which you used during registration.<br/>We will send you a reset link to change your password.</span>
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        
                        <div class="form-group" style="text-align: center;">
                            <input class="btn btn-outline-info btn-lg" type="submit" value="Send reset password link" />
                        </div>
                        Remember your password? <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}